.btnIcon {
  background: transparent;
  border: none;
}

.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 40px;
  height: 40px;
}

.count {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary--color--header);
  font-size: 12px;
}

.cartIcon {
  color: black;
}

.text {
  font-size: 12px;
  color: black;
  margin-left: 2px;
  margin-top: -2px;
}
