.block {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 450px;
  min-height: auto;
  opacity: 1;
  padding: 15px 20px 15px 15px;
  width: 200px;
  transition: 0.5s box-shadow;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.09);
  }
}

.itemElement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 12px;
}

.itemPrice {
  margin: 0 8px 0 0;
  font-size: 18px;
}

.itemTitle {
  color: var(--product-text-color);
  font-size: 16px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoContainer {
  display: flex;
  height: 125px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.infoPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buyButton {
  border-radius: 12px;
  padding: 8px;
  width: 65px;
  height: 30px;
  font-size: 12px;
}

.counter {
  width: 70px;
}

.classStar {
  margin-top: -12px;
  width: 15px;
  height: 15px;
}

.classReviewsText {
  margin-top: -12px;
  font-size: 12px;
  color: var(--product-text-color);
}

.heart {
  position: absolute;
  top: 8px;
  right: 8px;
}

.imageContainer {
  position: relative;
}


