.modal {
  width: 550px !important;
}

.href {
  color: var(--primary--color) !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  gap: 10px;
}
