.block {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.fieldBuy {
  background-color: purple;
}

.containerProduct {
  display: flex;
  gap: 20px;
}

.spin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-top: 100px;
}
