.block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerHeader {
  display: flex;
  justify-content: flex-end;
}

.menuIcon {
  width: 30px;
  cursor: pointer;

  &:hover {
    color: var(--primary--color);
  }
}

.underline {
  margin-top: 10px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.09);
}
