.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  background-image: url('../../../../public/images/secondWomen.png'),
  url('../../../../public/images/bubles/bubles01Orange.svg'),
  url('../../../../public/images/bubles/bubles02Orange.svg'),
  url('../../../../public/images/bubles/bubles03Orange.svg'),
  url('../../../../public/images/orangeBackground.svg'),
  linear-gradient(to right,#ff981c 0%,#ff6d50 100%);

  background-size: 340px 280px,396px 396px,200px 200px,195px 195px,24px 24px,cover;
  background-position: left 0 bottom 0,left -5% bottom -35%,left 60% bottom -20%,right -4% top -10%,center center,center center;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat,no-repeat;

  width: 100%;
  height: 270px;
  border-radius: 32px;
  color: white;
}

.contentText {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentTitle {
  font-size: 60px;
}

.contentDescription {
  font-size: 30px;
}
